* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'lato', 'arial', sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
}


.back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)), url("back.jpg");
    background-size: cover;
    background-attachment:fixed;
    height: 100%;
}


.back .my-container {
    background-color: #fcfcfc;
    margin: auto;
    align-content: center;
    color: #383838;
  
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(162, 161, 161, 0.89);
}


span h3{
    font-family: 'Trade Winds', sans-serif;
}

h6, h5{
    line-height: 1.2;
}

strong{
    font-weight: bold;
}

textarea{
    max-height: 120px;
}




/*----------- registration form------------------


.form-box {
    max-width: 600px;
    margin: auto;
    font-size: 80%;
    background-color: rgba(194, 211, 216, 0.9);
    padding: 0 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 40px rgb(194, 211, 216);
}


/*
