{% extends 'mobsms/basic.html' %}

{% block title%}{{user.first_name}} {{user.last_name}} {% endblock %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'mobsms/profile.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">

{% endblock %}

{% block css %}



{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<div class="back">
    <br>
    <div class="container box py-3">


        <div class="row ">
            <div class="col-md-12">
                <center>
                    <img src="{{user.profile.image.url}}" style="height: 200px;width: 200px" class="rounded-circle">
                </center>
            </div>
        </div>
        <div class="row mt-2">

            <div class="col-md-5">
                <h5>Name</h5>
            </div>
            <div class="col-md-5">
                <h5>{{user.first_name}} {{user.last_name}}</h5>
            </div>

        </div>
        <!--
        <div class="row">

            <div class="col-md-5">
                <h5>User Name</h5>
            </div>
            <div class="col-md-5">
                <h5>{{user.username}}</h5>
            </div>

        </div>
-->
        <div class="row">
            <div class="col-md-5">
                <h5>Email</h5>
            </div>
            <div class="col-md-5">
                <h5>{{user.email}}</h5>
            </div>
        </div>
        {% if user.profile.phone %}
        <div class="row">
            <div class="col-md-5">
                <h5>Phone no.</h5>
            </div>
            <div class="col-md-5">
                <h5>{{user.profile.phone}}</h5>
            </div>
        </div>
        {% endif %}
        {% if user.profile.DOB %}
        <div class="row">
            <div class="col-md-5">
                <h5>Date of birth</h5>
            </div>
            <div class="col-md-5">
                <h5>{{user.profile.DOB|date:'d-M-Y'}}</h5>
            </div>
        </div>
        {% endif %}


        <!-- Button trigger modal -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter" id="updatebtn">
                    Update your profile
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group"  style="font-size: 90%">
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info btn-block" type="submit">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <br>
</div>
{% endblock %}
{% block js %}
<script>
    {% if p_form.errors or u_form.errors %}
    document.getElementById("updatebtn").click(); 
    {% endif %}
    document.getElementById('div_id_username').style.display = 'none';
    //document.getElementById('div_id_user').style.display = 'none';

</script>

{% endblock %}
